body{
margin: 0%; 
font-family: 'Roboto', sans-serif;
}
.Header{/*стиль для кл header*/
    background-image: url(../images/background.jpeg.jpg);
background-size: cover;
color: azure;
background-color: blueviolet;
}
.name {
text-transform: uppercase;
}
.main-menu{
    font-size: 20px;
font-weight: bold;
padding: 20px 0;
}